*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lora', serif;
}

#header{
	color: white;
	min-height: 4em;
	align-items: center;
	padding: 0 2em;
}

.bgPrincipal{
background-color: #885644;
}
#header li a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
		color: #AEADB3;
		text-decoration: none;
		transition: 0.5s color;
}
#header li a:hover{
	color: white;
}
li{
	padding-left: 32px;
  background-position: 0 0;
  background-size: 18px 18px;
  display: inline-block;
}

#header .menu{
  list-style:none outside;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif; 
}

h2{
	font-size: 3rem;
	font-weight: 400;
	font-style: italic;
	padding-bottom: 1rem;
	margin-bottom: 2rem; 
	position: relative;
}


h2:after{
	position:absolute;
	content:"";
	bottom: 0;
	left: 0;
	width: 3rem;
	border-bottom: 3px solid #211915;
}

p{
	font-size: 1.25rem;
}

.principal{
	height: 100vh;
	background-image: url("../media/jakob.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#slidePrincipal h1 {
	font-size: 4rem;
	text-align: center;
	font-style: italic;
	font-weight: 900;
	position: absolute;
	top: 50%;
	display: inline-block;
	transform:  translate(-50%, -50%);
	left: 50%;
	color: #AEADB3;
	background: #23074d;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#portfolio, #nosotros{
	background-color:#6C8B9F;
	color:#222121;
	padding:30px;
}

#portfolio img{
	width: 300px;
	height:  225px;
	object-fit: cover;
	margin: 15px 15px 15px 0;
	transition: 0.5s all ease;
}
#portfolio img:hover{
	transform: scale(1.1);
}

#portfolio .contenedorImagenes, #cursos .contenedorCursos {
	display: grid;
	grid-template-columns: auto;
}

#nosotros p{
	font-style:italic;
}
#cursos{
 	background-color:#222121;
 	color:#AEADB3;
 	padding:30px 30px 50px 30px;
}
#cursos h2, .cursos h1{
	color:#9E402A;
}

.cursos h1, #portfolio h1{
	font-size: 3rem;
	font-style: italic;
	padding: 1rem 0;
	margin: 0 0 2rem 30px;
	position:relative;
}

#cursos h2:after, .cursos h1:after, #portfolio h1:after {
	position:absolute;
	content:"";
	bottom: 0;
	left: 0;
	width: 3rem;
	border-bottom: 3px solid #9E402A;
}

#portfolio h1 {
	margin-left: 0;
}

#portfolio h1:after {
	border-bottom: 3px solid #222121;
}

#cursos h3{
	font-weight: 700;
	font-size: 2rem;
}
#cursos p, #cursos a{
	font-size: 1.25rem;
	line-height: 1.5;
	padding-right: 2rem;
}

#cursos a {
	text-decoration: none;
	color: #6C8B9F;
	position: relative;
	padding: 0.5rem 1rem;
	transition: 0.5s all ease;
	z-index:1;
}

#cursos a:before{
	position: absolute;
	content:"";
	bottom: 0;
	left:0;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid #6C8B9F;
	transition: 0.5s all ease;
	z-index:-1;
}

#cursos a:hover{
	color:white;
}

#cursos a:hover::before {
	border-bottom: 2.5rem solid #6C8B9F;
}

#cursos p{
	margin-bottom: 2rem;
}
.curso{
	margin-bottom: 2em;
}


#contacto, .footer{
	background-color:#222121;
 	color:#AEADB3;
 	padding:30px;
}

#contacto h2:after {
	border-bottom: 3px solid #AEADB3;
}

#contacto .masInfo{
	color:#9E402A;
}
.redesSociales{
 	font-size: 1.25rem;
}
.footer .redesSociales{
	color:#6C8B9F;
	background-color:#222121;
}
.whatsapp {
    position: fixed;
 	bottom:32px;
 	right: 32px;
 	z-index:2;
}
.whatsapp img{
	height: 32px;
	width:32px;
}

.formulario label {
	font-size: 1.25em;
}

.formulario label.subheading {
	width:  100%;
	display:  inline-block;
	padding-bottom: 0.5em;
}

.formulario .checkboxLabel {
	margin-right:  2em;
}

.formContenedor{
	margin-bottom: 1em;
}

.formBoton {
	padding: 1em;
	font-size: 1em;
	font-family: "Lora", serif;
	font-weight: 700;
	border: none;
	background-color: #222121;
	border: 1px solid #6C8B9F;
	color: #6C8B9F;
	margin-right: 2em;
	transition:  1s all ease;
}

.formBoton:hover{
		background-color: #6C8B9F;
		color: white;
}

.control {
	width: 100%;
	padding: 0.5em;
	background-color: #AEADB3;
	border: none;
	font-size: 1em;
	margin-bottom: 1em;
	font-family: "Lora", serif;
	font-style:  italic;
}
.navbar-brand img {
	max-width: 40px;
}

#nosotros .col {
	text-align: center;
	padding: 0 4em;
}

#nosotros h3 {
	font-weight: 700;
	margin-bottom: 1em;
}

.nosotros--img {
	max-width: 200px;
	max-height: 200px;
	margin-bottom: 2em;
}

@media all and (min-width: 768px){
	#portfolio .contenedorImagenes{
		grid-template-columns: auto auto;
	}
	}
@media all and (min-width: 1024px){
	#portfolio .contenedorImagenes{
		grid-template-columns: auto auto auto auto;
	}
	#cursos .contenedorCursos{
		grid-template-columns: auto auto auto;

	}



}
