$cursos-width: 100vh;
$cursos-height: 100vh;
$color-dark: #222121;
$color-white: #AEADB3;
$weight-bold: 400;

$catalogo:(
    analogico:"analogica",
    blancoynegro:"blancoynegro",
    personas:"photo-007"
)