$cursos-width: 100vh;
$cursos-height: 100vh;
$color-dark: #222121;
$color-white: #AEADB3;
$color-brown:  #885644;
$color-grey: #6C8B9F;
$color-red: 9E402A;
$weight-bold: 400;

$base-font-size: 1.25rem;

$title-font: 'Playfair Display', serif; 
$main-font: 'Lora', serif;
$secondary-font: 'Open Sans', sans-serif;

$catalogo:(
    analogico:"analogica",
    blancoynegro:"blancoynegro",
    personas:"photo-007"
)